<header>
  <h1>Kingsman Apparel & Accessories</h1>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Browse Products', products_path %></li>
      <p>
        --------------------------------------------------------------
      </p>
    </ul>
  </nav>
</header>
